*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  padding-top:50px;
  height: 5000px;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  position: relative;
  width:100%;
  height: 100vh;
  background-image: url('background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  padding:13px 0;
  background-color: #fff;
  transition: 0.6s linear;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -ms-transition: 0.6s linear;
    -o-transition: 0.6s linear;
}
.navbar.sticky{
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
  background-color: burlywood;
  z-index: 99;
}
.navigation{
  height: 50px;
  padding:30px 0;
}
.logo{
  width:120px;
}
.logo a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav{
  direction: rtl;
}
nav ul li {
  display: inline-block;
  padding:10px;
  position: relative;
}
nav ul li .menu{
  display: none;
}

nav ul li:hover .menu{
  display: block;
  position: absolute;
  top:40px;
  left:-40px;
  width: 140px;
  z-index: 1;
  transition: all 4s linear;
  background-color: beige;
}
nav ul li:hover .menu li{
  display: block;
  text-align: center;
}
nav ul li a{
  color:#000;
  font-size: 18px;
  pointer-events: none;
}
nav ul li a i{
  padding-right: 5px;
  font-size: 13px;
}
nav ul li:hover .menu li .menu2{
  display: none;
  position: relative;
  width:100px;
  padding: 10px 0;
}
nav ul li:hover .menu li:hover .menu2{
  display: block;
  position: absolute;
  top:10px;
  right:100px;
  background-color: beige;
}
.toggle-open, .toggle-close{
  cursor: pointer;
}
.toggle-close{
  display: none;
  font-size: 20px;
}
.toggle-open{
  display: none;
  font-size: 20px;
}
.navigation form input{
  border:none;
  outline: none;
  padding:5px 15px;
  max-width: 200px;
  border-radius: 30px;
  width: 100%;
  direction: rtl;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e5e5e5;
}
@media screen and (max-width:992px){
  .navigation form input{
    max-width: 130px;
  }
}
@media screen and (max-width:768px){
  nav{
    position:relative;
  }
  nav ul li{
    display: none;
    padding-top:40px;
    text-align: center;
  }
  nav.active{
    background-color: beige;
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width:200px;
  }
  nav.active > ul li{
    display: block;
  }
  nav.active > ul .toggle-close{
    display: block;
  }
  nav.active > ul{
    padding: 50px 0;

  }
  nav.active > ul .toggle-close i{
    text-align:right;
    display: block;
    margin-right: 30px;
  }
  .toggle-open{
    display: block;
  }
  nav.active ul li{
    padding: 15px;
  }
  nav.active ul li:hover .menu{
    display: block;
    margin-right: 50px;
  }
  nav ul li .menu li{
    padding: 15px;
  }
}